---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
  name: migration-controller
  namespace: {{ mig_namespace }}
data:
  PV_LIMIT: "{{ mig_pv_limit }}"
  POD_LIMIT: "{{ mig_pod_limit }}"
  NAMESPACE_LIMIT: "{{ mig_namespace_limit }}"
  CORS_ALLOWED_ORIGINS: {{ cors_origins | join(' ') }}
  WORKING_DIR: {{ discovery_volume_path }}
  CLIENT_POD_CPU_LIMIT: "{{ source_rsync_pod_cpu_limits }}"
  CLIENT_POD_MEMORY_LIMIT: "{{ source_rsync_pod_memory_limits }}"
  CLIENT_POD_CPU_REQUEST: "{{ source_rsync_pod_cpu_requests }}"
  CLIENT_POD_MEMORY_REQUEST: "{{ source_rsync_pod_memory_requests }}"
  TRANSFER_POD_CPU_LIMIT: "{{ target_rsync_pod_cpu_limits }}"
  TRANSFER_POD_MEMORY_LIMIT: "{{ target_rsync_pod_memory_limits }}"
  TRANSFER_POD_CPU_REQUEST: "{{ target_rsync_pod_cpu_requests }}"
  TRANSFER_POD_MEMORY_REQUEST: "{{ target_rsync_pod_memory_requests }}"
  STUNNEL_POD_CPU_LIMIT: "{{ stunnel_pod_cpu_limits }}"
  STUNNEL_POD_MEMORY_LIMIT: "{{ stunnel_pod_memory_limits }}"
  STUNNEL_POD_CPU_REQUEST: "{{ stunnel_pod_cpu_requests }}"
  STUNNEL_POD_MEMORY_REQUEST: "{{ stunnel_pod_memory_requests }}"
  ENABLE_INTELLIGENT_PV_RESIZE: "{{ enable_intelligent_pv_resize }}"
  ENABLE_DVM_PV_RESIZING: "{{ enable_dvm_pv_resizing }}"
{% if rsync_opt_bwlimit is defined and rsync_opt_bwlimit|int > 0 %}
  RSYNC_OPT_BWLIMIT: "{{ rsync_opt_bwlimit }}"
{% endif %}
{% if rsync_opt_partial is defined %}
  RSYNC_OPT_PARTIAL: "{{ rsync_opt_partial }}"
{% endif %}
{% if rsync_opt_archive is defined %}
  RSYNC_OPT_ARCHIVE: "{{ rsync_opt_archive }}"
{% endif %}
{% if rsync_opt_delete is defined %}
  RSYNC_OPT_DELETE: "{{ rsync_opt_delete }}"
{% endif %}
{% if rsync_opt_hardlinks is defined %}
  RSYNC_OPT_HARDLINKS: "{{ rsync_opt_hardlinks }}"
{% endif %}
{% if rsync_opt_info is defined %}
  RSYNC_OPT_INFO: "{{ rsync_opt_info }}"
{% endif %}
{% if rsync_opt_extras is defined %}
  RSYNC_OPT_EXTRAS: "{{ rsync_opt_extras }}"
{% endif %}
{% if rsync_backoff_limit is defined %}
  RSYNC_BACKOFF_LIMIT: "{{ rsync_backoff_limit }}"
{% endif %}
  STUNNEL_TCP_PROXY: "{{ stunnel_tcp_proxy }}"
  STUNNEL_VERIFY_CA: "{{ stunnel_verify_ca }}"
  STUNNEL_VERIFY_CA_LEVEL: "{{ stunnel_verify_ca_level }}"
{% if disable_image_copy is defined %}
  DISABLE_IMAGE_COPY: "{{ disable_image_copy }}"
{% endif %}
  JAEGER_ENABLED: "{{ jaeger_enabled }}"
{% if pv_resizing_threshold is defined %}
  PV_RESIZING_USAGE_THRESHOLD: "{{ pv_resizing_threshold }}"
{% endif %}
  ENABLE_CACHED_CLIENT: "{{ mig_controller_enable_cache }}"
  DISCOVERY_COLLECT_EVENTS: "{{ discovery_collect_events }}"

