---
apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
    app.kubernetes.io/part-of: openshift-migration
  name: discovery
  namespace: {{ mig_namespace }}
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
  name: discovery
  namespace: {{ mig_namespace }}
spec:
  to:
    kind: Service
    name: discovery
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
