---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: mig
  namespace: {{ mig_namespace }}
  labels:
    component: mig
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: mig-cluster-admin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: mig
  namespace: {{ mig_namespace }}
