---
apiVersion: migration.openshift.io/v1alpha1
kind: MigCluster
metadata:
  name: "{{ cluster_name }}"
  namespace: "{{ mig_namespace }}"
spec:
{% if azure_resource_group != '' %}
  azureResourceGroup: "{{ azure_resource_group }}"
{% endif %}
{% if host_cluster_restart_restic is defined %}
  restartRestic: {{ host_cluster_restart_restic }}
{% endif %}
  isHostCluster: true
