apiVersion: migration.openshift.io/v1alpha1
kind: MigrationController
metadata:
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  version: "{{ mig_operator_version }}"
