apiVersion: v1
kind: Service
metadata:
  labels:
    app: mig-controller
  name: mig-controller-metrics
  namespace: {{ mig_namespace }}
spec:
  selector:
    control-plane: controller-manager
  clusterIP: None
  ports:
  - name: metrics
    port: 2112
    protocol: TCP
    targetPort: 2112
  sessionAffinity: None
  type: ClusterIP
