---
apiVersion: v1
kind: Secret
metadata:
  name: {{ proxy_secret_name }}
  namespace: {{ mig_namespace }}
  labels:
    app.kubernetes.io/part-of: openshift-migration
    migration-proxy-config: "true"
type: Opaque
data:
{% if http_proxy|length >0 %}
  HTTP_PROXY: {{ http_proxy|b64encode }}
{% endif %}
{% if https_proxy|length >0 %}
  HTTPS_PROXY: {{ https_proxy|b64encode }}
{% endif %}
{% if no_proxy|length >0 %}
  NO_PROXY: {{ no_proxy|b64encode }}
{% endif %}
