---
apiVersion: v1
kind: Secret
metadata:
  generateName: {{ proxy_secret_generate_name }}
  namespace: {{ mig_namespace }}
  labels:
    migration-proxy-config: "true"
type: Opaque
data:
{% if http_proxy|length >0 %}
  http_proxy: {{ http_proxy|b64encode }}
{% endif %}
{% if https_proxy|length >0 %}
  https_proxy: {{ https_proxy|b64encode }}
{% endif %}
{% if no_proxy|length >0 %}
  no_proxy: {{ no_proxy|b64encode }}
{% endif %}
