---
apiVersion: oauth.openshift.io/v1
kind: OAuthClient
metadata:
  name: migration
  namespace: "{{ mig_namespace }}"
grantMethod: auto
redirectURIs: ["{{ mig_ui_oauth_redirect_url }}"]
secret: "{{ mig_ui_oauth_secret }}"
