---
apiVersion: v1
kind: Service
metadata:
  name: migration-ui
  namespace: "{{ mig_namespace }}"
  labels:
    app: migration
    service: migration-ui
spec:
  ports:
    - name: port-9000
      port: 9000
      targetPort: 9000
      protocol: TCP
  selector:
    app: migration
    service: migration-ui
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: migration-ui
  namespace: "{{ mig_namespace }}"
  labels:
    app: migration
    service: migration-ui
spec:
  selector:
     matchLabels:
       app: migration
       service: migration-ui
  template:
    metadata:
      labels:
        app: migration
        service: migration-ui
    spec:
      containers:
        - name: mig-ui
          image: "{{ mig_ui_image }}:{{ mig_ui_version }}"
          imagePullPolicy: "{{ image_pull_policy }}"
          ports:
            - containerPort: 9000
              protocol: TCP
          volumeMounts:
            - name: "{{ mig_ui_configmap_name }}"
              mountPath: /etc/mig-ui
      volumes:
        - name: "{{ mig_ui_configmap_name }}"
          configMap:
            name: "{{ mig_ui_configmap_name }}"
