apiVersion: oadp.openshift.io/v1alpha1
kind: DataProtectionApplication
metadata:
  name: velero
  namespace: "{{ mig_namespace }}"
spec:
  configuration:
    velero:
      defaultPlugins:
      - openshift
      - aws
      - gcp
      - azure
      noDefaultBackupLocation: true
      podConfig:
        labels:
          app.kubernetes.io/part-of: openshift-migration
    restic:
      enable: true
      timeout: "{{ restic_timeout }}"
      supplementalGroups: {{ restic_supplemental_groups }}
      podConfig:
        labels:
          app.kubernetes.io/part-of: openshift-migration
{% if _migration_openshift_io_migrationcontroller_spec.daemonset_node_selector is defined %}
        nodeSelector: {{ _migration_openshift_io_migrationcontroller_spec.daemonset_node_selector | to_yaml }}
{% endif %}

