apiVersion: oadp.openshift.io/v1alpha1
kind: DataProtectionApplication
metadata:
  name: velero
  namespace: "{{ mig_namespace }}"
spec:
  configuration:
    velero:
      defaultPlugins:
      - openshift
      - aws
      - gcp
      - azure
      noDefaultBackupLocation: true
      podConfig:
        labels:
          app.kubernetes.io/part-of: openshift-migration
        resourceAllocations:
{% if velero_requests_cpu is defined or velero_requests_memory is defined %}
          requests:
{% if velero_requests_cpu is defined %}
            cpu: "{{ velero_requests_cpu }}"
{% else %}
            cpu: null
{% endif %}
{% if velero_requests_memory is defined %}
            memory: "{{ velero_requests_memory }}"
{% else %}
            memory: null
{% endif %}
{% else %}
          requests: null
{% endif %}
{% if velero_limits_cpu is defined or velero_limits_memory is defined %}
          limits:
{% if velero_limits_cpu is defined %}
            cpu: "{{ velero_limits_cpu }}"
{% else %}
            cpu: null
{% endif %}
{% if velero_limits_memory is defined %}
            memory: "{{ velero_limits_memory }}"
{% else %}
            memory: null
{% endif %}
{% else %}
          limits: null
{% endif %}
    restic:
      enable: true
      timeout: "{{ restic_timeout }}"
      supplementalGroups: {{ restic_supplemental_groups }}
      podConfig:
        labels:
          app.kubernetes.io/part-of: openshift-migration
{% if _migration_openshift_io_migrationcontroller_spec.daemonset_node_selector is defined %}
        nodeSelector: {{ _migration_openshift_io_migrationcontroller_spec.daemonset_node_selector | to_yaml }}
{% endif %}
        resourceAllocations:
{% if restic_requests_cpu is defined or restic_requests_memory is defined %}
          requests:
{% if restic_requests_cpu is defined %}
            cpu: "{{ restic_requests_cpu }}"
{% else %}
            cpu: null
{% endif %}
{% if restic_requests_memory is defined %}
            memory: "{{ restic_requests_memory }}"
{% else %}
            memory: null
{% endif %}
{% else %}
          requests: null
{% endif %}
{% if restic_limits_cpu is defined or restic_limits_memory is defined %}
          limits:
{% if restic_limits_cpu is defined %}
            cpu: "{{ restic_limits_cpu }}"
{% else %}
            cpu: null
{% endif %}
{% if restic_limits_memory is defined %}
            memory: "{{ restic_limits_memory }}"
{% else %}
            memory: null
{% endif %}
{% else %}
          limits: null
{% endif %}
