---
apiVersion: v1
kind: ConfigMap
metadata:
  name: restic-restore-action-config
  namespace: {{ mig_namespace }}
  labels:
    velero.io/plugin-config: ""
    velero.io/restic: RestoreItemAction
data:
  image: {{ velero_restic_restore_helper_image }}:{{ velero_restic_restore_helper_version }}
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  namespace: {{ mig_namespace }}
  name: velero
spec:
  replicas: 1
  template:
    metadata:
      labels:
        component: velero
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8085"
        prometheus.io/path: "/metrics"
    spec:
      restartPolicy: Always
      serviceAccountName: velero
      containers:
        - name: velero
          image: {{ velero_image }}:{{ velero_version }}
          imagePullPolicy: "{{ image_pull_policy }}"
          ports:
            - name: metrics
              containerPort: 8085
          command:
            - /velero
          args:
            - server
            - --restic-timeout
            - {{ restic_timeout }}
          volumeMounts:
            - name: {{ velero_aws_secret_name }}
              mountPath: /credentials
            - name: plugins
              mountPath: /plugins
            - name: scratch
              mountPath: /scratch
          env:
            - name: AWS_SHARED_CREDENTIALS_FILE
              value: /credentials/cloud
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /credentials/cloud
            - name: AZURE_CREDENTIALS_FILE
              value: /credentials/cloud
            - name: VELERO_NAMESPACE
              value: {{ mig_namespace }}
            - name: VELERO_SCRATCH_DIR
              value: /scratch
      volumes:
        - name: {{ velero_aws_secret_name }}
          secret:
            secretName: {{ velero_aws_secret_name }}
        - name: plugins
          emptyDir: {}
        - name: scratch
          emptyDir: {}
      initContainers:
        - image: {{ velero_plugin_image }}:{{ velero_plugin_version }}
          imagePullPolicy: "{{ image_pull_policy }}"
          name: velero-plugin
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /target
            name: plugins
---
apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: restic
  namespace: {{ mig_namespace }}
spec:
  selector:
    matchLabels:
      name: restic
  template:
    metadata:
      labels:
        name: restic
    spec:
      serviceAccountName: velero
      securityContext:
        runAsUser: 0
      volumes:
        - name: {{ velero_aws_secret_name }}
          secret:
            secretName: {{ velero_aws_secret_name }}
        - name: host-pods
          hostPath:
            path: {{ restic_pv_host_path }}
        - name: scratch
          emptyDir: {}
      containers:
        - name: velero
          securityContext:
            privileged: true
          image: {{ velero_image }}:{{ velero_version }}
          imagePullPolicy: "{{ image_pull_policy }}"
          command:
            - /velero
          args:
            - restic
            - server
          volumeMounts:
            - name: {{ velero_aws_secret_name }}
              mountPath: /credentials
            - name: host-pods
              mountPath: /host_pods
              mountPropagation: HostToContainer
            - name: scratch
              mountPath: /scratch
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: VELERO_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: AWS_SHARED_CREDENTIALS_FILE
              value: /credentials/cloud
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /credentials/cloud
            - name: AZURE_CREDENTIALS_FILE
              value: /credentials/cloud
            - name: VELERO_SCRATCH_DIR
              value: /scratch

